.npgfx-splash-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.npgfx-splash-content {
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 3rem;
}

.npgfx-nav-mobile {
    grid-column: 1/13;
    grid-row: 2/3;
}

.npgfx-nav-inner {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 6px;
}

@media screen and (min-width: 768px) {
    
    .npgfx-nav-inner {
        font-size: 12px;
    }
    
}